.footer {
  background: #fff;
  z-index: 1;

  & .footer__quote {
    padding: 4em 2.5em;
    background: url(../pages/assets/bg--footer-quote-1.png) no-repeat 50% 50%,
    url(../pages/assets/bg--footer-quote-2.png) repeat 50% 0;
    text-align: center;
    font-size: 1.3em;

    & span {
      line-height: 2;
      display: block;
    }

    & p:first-child::before {
      content: "“";
      display: block;
      color: rgb(255, 100, 100);
      font-size: 98px;
      line-height: 0.4em;
      font-weight: bolder;
      padding-bottom: .1em;
      font-family: Gentona-Bold, arial, sans-serif;
      margin: 0px 0px -0.1em;
    }

  }

  & .footer__info {
    background: #fff;

    & .footer__top {
      position: relative;
      top: -13px;
      margin: 0 auto 20px;
      display: block;
      font-weight: 700;
      font-size: 21px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      color: #ff6464;

      &:before {
        margin-bottom: .5em;
        margin-left: auto;
        margin-right: auto;
        display: block;
        content: "";
        width: 47px;
        height: 55px;
        background: url(../pages/assets/footer--go-top.png) no-repeat top center;
      }

    }

    & .footer__info-content {
      padding: 20px 0 !important;
      border-top: 1px solid #bebebe;
      font-size: 14px;
      display: flex;
      justify-content: space-between;
      color: #16242f;

      @media screen and ( max-width: 800px ) {
        & {
          flex-direction: column;
        }
      }

      & .footer__info-title {
        margin: 8px 0 16px;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 24px;
        padding-bottom: .5em;
      }

      & .col.footer-social {
        padding-left: 5em;
        text-align: center;

        @media screen and (max-width: 550px) {
          & .footer__info-title {
            margin-left: calc(50% - 175px);
            text-align: left;
            justify-content: center;
          }
        }
        @media screen and (max-width: 800px ) {
          padding-left: 0;
        }

        & .social-list {
          list-style: none;
          margin-left: auto;
          margin-right: auto;
          display: flex;
          /*Because only one Social*/
          align-items: center;
          justify-content: center;

          @media screen and (max-width: 550px) {

            margin-left: calc(50% - 175px);
            text-align: left;
            justify-content: flex-start;

          }

          & li {
            margin-left: 12px;
            margin-right: 12px;
            margin-bottom: 25px;

            & a {
              position: relative;
              width: 44px;
              height: 44px;
              display: block;
              outline: none;
              overflow: hidden;
              border: 1px solid #cacaca;
              transform: rotate(45deg);
              transition: all .35s cubic-bezier(0.770, 0.000, 0.175, 1.000);
              color: #272b33;
              line-height: 44px;
              font-size: 30px;
              text-align: center;

              &:before {
                position: absolute;
                left: 44px;
                top: 44px;
                height: 70px;
                width: 70px;
                content: "";
                background: #16242f;
                transition: all .35s cubic-bezier(0.770, 0.000, 0.175, 1.000);
              }

              &:hover {
                color: #fff;

                &:before {
                  top: 0;
                  left: 0;
                }
              }

              & .icon {
                position: relative;
                left: -1px;
                top: -1px;
                transform: rotate(-45deg);
              }
            }
          }
        }
      }

      & .col.footer__address {
        padding-right: 5em;
        text-align: right;



        @media screen and (max-width: 800px ) {
          padding-right: 0;
          text-align: center;
        }

        @media screen and (max-width: 550px) {

          margin-left: calc(50% - 175px);
          text-align: left;
          justify-content: flex-start;

        }

          & address {
            text-align: left;
            margin-left: calc(50% - 135px);
            margin-right: auto;

            @media screen and (max-width: 550px) {

              margin-left: 0;
              text-align: left;
              justify-content: flex-start;

            }

          }

      }
    }

  }

  & .footer__bottom {
    height: 100px;
    overflow: hidden;
    background: #16242f;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #898d95;

    & .content {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: space-between;
      padding: 0 3em;
      @media all and (max-width: 580px) {
        padding-top: 2em;
        flex-direction: column;
        padding-bottom: 2em;
      }

    }
  }

}




