.headroom {

  background: #f7f7f7;

}

.headroom-wrapper {
  margin-bottom: 8rem;
  height:0 !important; /* needed due bad calculation of the offset (height)
                          in wrapper component */
}
