.works-list {

  list-style:none;
  margin-left:0;

  & .work{

    &:first-child{
      border-top: 2em solid  #16242f;
    }

    & .work__client{
      position: relative;
      z-index: 1;
      margin: 0;
      padding: 20px;
      height: 140px;
      background: #fff;

      & img {
        margin: 0 auto;
        height: 100%;
        max-width: 100%;

      }

      &:after {
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -15px;
        width: 0;
        height: 0;
        content: "";
        border-style: solid;
        border-width: 15px 15px 0 15px;
        border-color: #fff transparent transparent transparent;
      }
    }

    & .layout{
      display: flex;

      & .col{
        width: 100%;

        &:first-child{
          padding: 40px 40px  120px;
        }

        & .work__title {
          font-family: 'Modelica';
          position: relative;
          margin: 0 0 30px;
          font-size: 4.3em;
          font-weight: bolder;
          line-height: 1.3em;
          text-transform: uppercase;

          & .work__subtitle {
            display: block;
            font-size: .6em;
            line-height: 1em;
            font-weight: 100;
          }
        }

        & .work__more {
          margin: 40px 0 0;
          display: inline-block;
          overflow: hidden;
          padding-right: 51px;
          height: 46px;
          font-weight: 500;
          font-size: 16px;
          text-transform: uppercase;
          text-decoration: none;

          & .work__more-inner {
            position: relative;
            display: inline-block;
            padding: 12px 4px 12px 15px;
            height: 20px;
            line-height: 17px;
            line-height: 8px\0;
            border: 1px solid #fff;
            border-right: 0;

            &:before {
              border-top: 1px solid #fff;
              content: "";
              display: block;
              height: 1px;
              position: absolute;
              right: -37px;
              top: -1px;
              width: 45px;

            }

            &:after {
              border-left: 1px solid #fff;
              content: "";
              display: block;
              height: 72px;
              position: absolute;
              right: -75px;
              top: -1px;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              -o-transform: rotate(45deg);
              transform: rotate(45deg);
              -webkit-transform-origin: 0 0;
              -ms-transform-origin: 0 0;
              -o-transform-origin: 0 0;
              transform-origin: 0 0;
              width: 30px;
            }
          }
        }



        & img {
          margin-bottom: 0;
        }
      }

    }


  }

}
